.banner__imagen{
    background-image: url("./../../img/banner.png");
    width: 100%;
    height: calc(100vh - 15rem);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}