
.personas{
   display: flex;
   justify-content: center;
   justify-items: center;
    margin: 0 auto;
   
    
}


@media (min-width: 480px) {
    .personas{

    }
}

@media (min-width: 768px) {
    .personas{
        padding-top: 3rem;
        
        width: 0 auto;
    }
}